* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    
    padding: 40px;
}

#infoContainer {
    margin-left: 50px;
    position: relative;
}

h1 {
    display: inline-block;
    font-size: 30px;
}

#spawnTime {
    margin-left: 10px;
    height: 40px;
    width: 100px;

    font-size: 20px;
}

#fixedContainer {
    vertical-align: middle;
}
#fixed {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

label {
    font-size: 20px;
}

footer {
    display: none;
    position: absolute;
    bottom: 0;
}
#screen {
    display: inline-block;
 
    border: 10px solid #ccc;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;

    width: 500px;
    height: 500px;
}