* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;;
}

#screen {
    display: inline-block;

    margin-top: 40px;
    
    border: 10px solid #ccc;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;

    width: 500px;
    height: 500px;
}